html,
body {
  margin: 0px;
  font-family: "Poppins";
  height: 10000;
}

.Navbar {
  height: 100px;
  width: 1700px;
  background-color: red;
}
.flexbox_row {
  display: flex;
}

.searchtab {
  width: 15%;
  background-color: yellow;
}

.searchElement label {
  width: 100%;
}

.searchElement input[type="text"] {
  width: 75%;
}

.searchElement.timeSearch input[type="text"] {
  width: 20px;
}

.tag {
  width: 20%;
}

.tagForm label {
  font-weight: 200;
}

.searchtab {
  flex: 1;
  height: 100%;
}

.clubCards {
  flex: 4;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

.club-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.club-promotion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  border-radius: 4px;
  width: 400px;
  height: auto;
  margin: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  row-gap: 10px;
}

.club-promotion.false {
  width: 90%;
  height: 80%;
}

.club-promotion:hover {
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 10px;
}

.title {
  font-size: 24px;
  color: #08092a;
  font-weight: 1000;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #08092a;
  flex: 0 0 100%;
}

.subTitle {
  font-size: 18px;
  color: #08092a;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 100%;
  border-bottom: 1px solid #08092a;
}

.body {
  font-size: 16px;
  color: #08092a;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.subBox {
  width: 180px;
  height: auto;
  padding: 5px;
}
