html,
body {
  margin: 0px;
  font-family: "Poppins";
  height: 10000;
}

.Navbar {
  height: 100px;
  width: 1700px;
  background-color: red;
}
.flexbox_row {
  display: flex;
}

.searchtab {
  width: 15%;
  background-color: yellow;
}

.searchElement label {
  width: 100%;
}

.searchElement input[type="text"] {
  width: 75%;
}

.searchElement.timeSearch input[type="text"] {
  width: 20px;
}

.tag {
  width: 20%;
}

.tagForm label {
  font-weight: 200;
}

.searchtab {
  flex: 1;
  height: 100%;
}

.clubCards {
  flex: 4;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

.club-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
