.club-card {
  background: #fff;
  border-radius: 4px;
  margin: 10px 5px 10px 20%;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.clubCards {
  margin-top: 100px;
  margin-left: 25%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 2px;
  z-index: 100;
}
